<html>

<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<% include ./includes/navbar.ejs %>
</head>
<div class="top">
    <h1>About</h1>
  </div>
 
<h3 style="text-align: center">Made with ❤</h3>
<h4 style="margin-left: 10rem"><a href="#" target="_blank">Github repo</a></h4>
<h4 style="margin-left: 10rem"><a href="#" target="_blank">LinkedIn</a> </h4>
 

</html>